<footer class="border-t-2 border-stone-300 grid grid-cols-[1fr_3fr] p-4">
  <div class="p-1 flex justify-center items-center">
    <a routerLink="/" class="cursor-pointer">
      <img
        src="assets/public/skyflow_logo_footer.svg"
        alt="Custom Logo"
        class="lg:w-full w-20 min-w-16"
      />
    </a>
  </div>
  <div class="p-1 flex items-center justify-end">
    <ul class="text-gray-400 md:text-md text-sm text-gray-500 flex flex-wrap md:justify-end justify-center gap-4 [&>li]:hover:underline [&>li]:cursor-pointer">
        <li>Terms and services</li>
        <li>Terms and services</li>
        <li>Terms and services</li>
        <li>Terms and services</li>
        <li>Terms and services</li>
    </ul>
  </div>
</footer>
