<section class="p-16">
    <div class="p-8 grid grid-rows-2">
        <div class="p-4 flex justify-center items-center">
            <form class="p-2 border-2 rounded-xl border-gray" action="">
                <div>
    
                </div>
                <div class="grid grid-rows-[auto_1fr]">
                    <label for="username">Choose a creative name</label>
                    <input class="border" type="text" name="username" id="username" placeholder="username">
                </div>
            </form>
        </div>
    </div>
</section>