<section class="grid grid-cols-[2.5fr_1fr]">
  <section class="p-8 grid grid-rows-[4fr_0fr_auto]">
    <div class="p-4 grid grid-rows-[1fr_4fr_1fr]">
      <div class="p-2 flex gap-4">
        <span>Go back</span>
        <span>TITLE HERE</span>
      </div>
      <div class="p-2 bg-black w-full h-full max-h-[400px] min-h-[300px]">
        <div>test</div>
      </div>
      <div class="p-2 flex justify-between w-5/6">
        <div>
          <span>NUN Views</span>
        </div>
        <div>vote</div>
      </div>
    </div>
    <div class="p-4 flex justify-center">
        <div class="border-t-2 border-stone-300 w-5/6"></div>
    </div>
    <div class="p-4 grid grid-rows-[1fr_auto]">
        <div>
            <select class="border-2 border-stone-300 py-1 rounded-full hover:bg-stone-300 cursor-pointer text-center">
                <option selected hidden disabled>Filter By</option>
                <option value="">Top comments</option>
                <option value="">Newest first</option>
            </select>
        </div>
        <div>
            
        </div>
    </div>
  </section>
  <section>
    <div>

    </div>
  </section>
</section>
