<section class="p-8">
    <section class="p-8 grid grid-rows-[1fr_1fr_auto]">
        <div class="p-4 grid grid-rows-[auto_1fr]">
            <div>
                <h2 class="lg:text-3xl md:text-2xl sm:text-xl text-md italic ">Selection of the week</h2>
            </div>
            <div class="p-4 grid grid-cols-[auto_4fr_auto] gap-4 min-h-[300px] max-h-[400px]">
                <div class="p-2">
                    arrow left
                </div>
                <div class="p-2 flex gap-2">
                    
                    <app-main-content />

                </div>
                <div class="p-2">
                    arrow right
                </div>
            </div>
        </div>
        <div></div>
        <div></div>
    </section>
</section>